@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* #### DARK MODE COLORS ### */
:root:not(.light) {
  --bg-page: #141d2f;
  --bg-card: #1e2a47;

  --primary-col: #0079ff;
  --secondary-font: #ffffff;
  --shadow-color: #697c9a;
}
:root:not(.light) .toggle-theme::after {
  filter: brightness(0) invert(1);
}
:root:not(.light) .active.toggle-theme::after {
  filter: brightness(0) invert(1);
}
:root:not(.light) .profile-links *::before {
  filter: brightness(0) invert(1);
}
:root:not(.light) .active.toggle-theme:hover {
  filter: invert(9%) sepia(24%) saturate(1467%) hue-rotate(180deg)
    brightness(91%) contrast(93%);
}
:root:not(.light) .card {
  box-shadow: none;
}
:root:not(.light) #search-entry {
  background-color: var(--bg-card);
  color: var(--secondary-font);
}
:root:not(.light) #search-entry::placeholder {
  filter: brightness(190%);
}

:root:not(.light) #search-submit {
  color: var(--secondary-font);
}
:root:not(.light) #search-submit:hover {
  filter: brightness(140%);
  opacity: unset;
}
:root:not(.light) a:hover {
  text-decoration-color: var(--secondary-font);
}
/* #### LIGHT MODE COLORS ### */
:root.light {
  --bg-page: #f6f8ff;
  --bg-card: #fefefe;
  --primary-col: #0079ff;
  --secondary-font: #4b6a9b;
  --shadow-color: #697c9a;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  color: var(--secondary-font);
  /* height: 120vh; */
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-page);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}
h1 {
  font-weight: 700;
  font-size: 1.5rem;
}
h2 {
  font-weight: 700;
  font-size: 1.25rem;
}
h3 {
  color: var(--primary-col);
  font-size: 0.9rem;
}
h4 {
  color: var(--secondary-font);
  font-size: 0.75rem;
}
a {
  text-decoration: none;
  outline: none;
}
a:hover {
  text-decoration: underline;
}
.container {
  width: 730px;
}
header .flex-container {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toggle-theme {
  width: 78px;
  height: 22px;
  position: relative;
  text-align: right;
  padding-right: 4.7rem;
}
.toggle-theme::after {
  content: '';
  background-image: url(./assets/icon-sun.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 2px;
  right: 0;
  width: 22px;
  min-height: 22px;
}
.active.toggle-theme::after {
  content: '';
  background-image: url(./assets/icon-moon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 2px;
  right: 0;
  width: 22px;
  min-height: 22px;
}
.active.toggle-theme:hover {
  cursor: pointer;
  filter: invert(0%) sepia(3%) saturate(100%) hue-rotate(8deg) brightness(0%)
    contrast(88%);
}
/* ### NAV SEARCH ### */
.card {
  background-color: var(--bg-card);
  border-radius: 20px;
  box-shadow: 0px 10px 23px -12px #89a9d9;
}
nav {
  padding: 1.5rem 0;
}
nav .flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  position: relative;
}
#searchDisplay {
  content: 'No results';
  color: red;
  width: 120px;
  height: 50px;
  right: 95px;
  top: 25px;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  display: none;
}
nav input {
  height: 50px;
  border: none;
  border-radius: 14px;
}
#search-icon {
  content: '';
  background-image: url(./assets/icon-search.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 25px;
  width: 26px;
  margin-left: 2rem;
}
#search-icon:hover {
  cursor: pointer;
}
#search-entry {
  flex-basis: 70%;
  font-size: 1rem;
  font-family: 'Space Mono', monospace;
  margin: 0.5rem;
  /* position: relative; */
}
#search-entry:focus {
  outline: none;
}

#search-submit {
  width: 106px;
  background-color: var(--primary-col);
  color: var(--bg-card);
  font-size: 0.9rem;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  margin: 0.5rem;
}
#search-submit:hover {
  opacity: 70%;
  cursor: pointer;
}

/* ### MAIN GRID --- PROFILE DISPLAY ### */
main {
  padding-top: 1rem;
  padding-bottom: 4rem;
}
main .grid-container {
  padding: 3rem;
  display: grid;
  grid-template-columns: min-content minmax(200px, 280px) minmax(150px, 200px);
  grid-template-rows: repeat(4, min-content);
  gap: 1rem;
}
.grid-container .profile-image {
  grid-area: 1 / 1 / 3 / 2;

  width: 117px;
  height: 117px;
  background-image: url(./assets/octocat.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}
.grid-container .profile-name {
  grid-area: 1 / 2 / 2 / 3;
}
.grid-container .profile-join {
  grid-area: 1 / 3/ 2 / 4;
  text-align: right;
}
.grid-container .profile-about {
  grid-area: 2 / 2 / 3 / 4;
  font-size: 0.9rem;
}
.grid-container .profile-metrics {
  grid-area: 3 / 2 / 4 / 4;
}
.grid-container .profile-metrics.flex-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 3rem;
  border-radius: 15px;
  background: var(--bg-page);
}
.grid-container .profile-links {
  grid-area: 4 / 2 / 5 / 4;
  padding: 0.5rem;
}
.profile-links.grid-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}
.profile-links.grid-container > div {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  position: relative;
}

.profile-links .link-location {
  grid-area: 1 / 1 / 2 / 2;
}
.profile-links .link-location::before {
  content: '';
  background-image: url(./assets/icon-location.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 14px;
  height: 20px;
  position: absolute;
  left: -3px;
}
.profile-links .link-website {
  grid-area: 2 / 1 / 3 / 2;
}
.profile-links .link-website::before {
  content: '';
  background-image: url(./assets/icon-website.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 20px;
  position: absolute;
  left: -3px;
}
.profile-links .link-twitter {
  grid-area: 1 / 2 / 2 / 3;
}
.profile-links .link-twitter::before {
  content: '';
  background-image: url(./assets/icon-twitter.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 20px;
  position: absolute;
  left: -3px;
}
.profile-links .link-github {
  grid-area: 2 / 2 / 3 / 3;
}
.profile-links .link-github::before {
  content: '';
  background-image: url(./assets/icon-company.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 20px;
  position: absolute;
  left: -3px;
}
